{:deps    {thheller/shadow-cljs      {:mvn/version "2.20.12"
                                      ;:local/root "../services/shadow-cljs"
                                      ;/Users/widdh/dev/services/shadow-cljs/target/aot/shadow-cljs-2.19.0-aot.jar
                                      }
           lambdaisland/kaocha-cljs2 {:mvn/version "0.2.72"}
           lambdaisland/chui         {:mvn/version "1.2.205"}
           lambdaisland/kaocha       {:mvn/version "1.63.998"}
           lambdaisland/funnel       {:mvn/version "1.4.71"}
           binaryage/devtools        {:mvn/version "1.0.6"}
           babashka/process          {:mvn/version "0.3.11"}
           com.microsoft.playwright/playwright {:mvn/version "1.28.1"}
           ;clj-chrome-devtools/clj-chrome-devtools {:mvn/version "20220405"}
           }
 :aliases {:dev {:extra-paths ["test"]}}}

