{:paths ["src" "resources" "dev" "test" "web-target"]
 :deps
 {
  com.widdindustries/tiado-cljs2 {:local/root "../.."}
  ; if moving this example elsewhere, replace the above :local/root with :git/url "https://github.com/henryw374/tiado-cljs2.git" :git/sha "whatever-the-latest-is"
  reagent/reagent {:mvn/version "1.1.1"}}
 } 
